/* КАТАЛОГ ПОСËЛКОВ  */

.header-cover_catalog {
    padding: 167px 0 80px 0;
    background: url(../images/catallog/catalog-img.png) 0 0 no-repeat;
    background-size: cover;
    background-position: center;
}

.header-cover_catalog_title {
    padding: 40px 0 20px 0;
    font-weight: 500;
    font-size: 60px;
    line-height: 90%;
    letter-spacing: -0.03em;
    color: #fff;
}

.header-cover_descr {
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #fff;
}

.header-cover_catalog_descr {
    max-width: 280px;
}

.header-cover_catalog-tegs {
    margin-bottom: 119px;
}

.social-like span {
    display: none;
}

/* Наши посёлки */ 

.catalog-villages {
    margin-top: -212px;
    padding: 28px 0 100px 0;
}

.catalog-villages .container {
    margin-bottom: 106px;
}

.catalog-villages__inner {
    margin-bottom: 28px;
}

.catalog-villages__link {
    display: block!important;
    margin: 0;
}

.catalog-privileges .privileges__title {
    margin: 18px 18px 0 18px;
}

.catalog-privileges .privileges__info {
    align-items: flex-start;
}

.catalog-privileges .privileges-img {
    margin-left: -61px;
    width: 296px;
    height: 266px;
}

.catalog-privileges .priv-item:last-child {
    margin-bottom: 0;
}

.catalog-bid-2 {
    padding: 100px 0 100px 0;
    margin-bottom: 100px;
    margin-top: -134px;
}

.privileges {
    padding: 100px 0 146px 0;
}

.form-items {
    gap: 7px;
    margin-bottom: 4px;
}

.form-info {
    gap: 3px;
}

.reviews-residents {
    padding: 103px 0 69px 0;
}

.latest-news {
    margin-bottom: 92px;
}

.our-contacts {
    padding: 100px 0 52px 0;
}

.our-contacts__item-add {
    padding: 18px 30px 18px 18px;
}

