.header-cover {
    padding: 207px 0 130px 0;
    background: url(../images/contacts/contacts-img.png) 0 0 no-repeat;
    background-size: cover;
    object-fit: cover;
    height: auto;
}

.social-like span {
    display: none;
}

.header-cover::before {
    display: none;
}

.header-title{
    font-size: 60px;
    color: #fff;
}

.main {
    padding: 460px 0 0 0;
}

.our-contacts {
    padding: 28px 0 52px 0;
}

@media (max-width: 1176px) {
    .header-cover {
        padding: 235px 0 130px 0;
    }
}

@media (max-width: 768px) {
    .section-title {
        font-size: 26px;
        line-height: 0.95;
    }

    .header-cover {
        padding: 169px 0 130px 0;
    }

    .main {
        padding: 360px 0 0 0;
    }
}

@media (max-width: 415px) {

    .crumbs__wrap {
        padding: 6px 0;

    }

    .header-cover {
        padding: 212px 0 130px 0;
    }

    .main {
        padding: 391px 0 0 0;
    }

    .our-contacts {
        margin-top: -100px;
        padding: 16px 0 52px 0;
    }

    .connect {
        font-size: 16px;
    }

    .contact-text {
        display: block;
    }

    .our-contacts__item-flex .contact-text {
        display: none;
    }
}