@media (max-width: 1165px) {
    .header-cover_ipoteka {
        padding: 225px 0 178px 0;
    }

    .ipdoc__inner {
        padding: 28px 15px 24px 28px;
    }
}

@media (max-width: 820px) {

    .main {
        padding: 100px 0 0 0;
    }

    .ipoteka_section {
        margin-top: -143px;
    }
}

@media (max-width: 800px) {
    .last-news {
        color: #fff;
    }


}

@media (max-width: 768px) {
    .header-cover_ipoteka {
        padding: 134px 0 120px 0;
    }
}

@media (max-width: 500px) {
    .crumbs {
        padding: 11px 0 13px 0;
    }

    .ipoteka_section {
        border-radius: 20px 20px 0 ;
    }

    .header-cover_ipoteka {
        padding: 172px 0 95px 0;
    }

    .last-news {
        padding: 40px 0 25px 0;
    }

    .ipoteka_section {
        padding: 55px 0 135px 0;
    }

    .ipoteka_block_title {
        font-size: 16px;
    }

    .ipoteka_inner {
        padding: 16px 28px 13px 16px;
    }

    .ipoteka_block {
        margin: 0 0 6px 0;
    }

    .ipoteka_icon {
        width: 41px;
    }

    .ipdoc_title {
        margin: 0 0 26px 0;
    }

    .ipdoc_media_title {
        font-size: 16px;
    }

    .ipdoc_body {
        font-size: 12px;
    }

    .ipdoc_media {
        display: flex;
        align-items: center;
        margin: 0 0 12px 0;
    }

    .ipdoc__inner {
        padding: 18px 15px 13px 16px;
        margin: 0 0 15px 0;
    }

    .latest-news {
        padding: 55px 0 125px 0;
    }

    .our-contacts__item:last-child {
        padding: 18px 28px 13px 18px;
    }
}