@media (max-width: 1200px) {
    .advantages-items {
        justify-content: center;
    }

    .gallery__content {
        grid-template-columns: repeat(1, auto);
    }
}

@media (max-width: 1176px) {
    .header-cover_page {
        padding: 232px 0 160px 0;
    }
}

@media (max-width: 800px) {

    .header-cover_page_title {
        color: #fff;
    }

    .header-cover_page_descr {
        color: #fff;
    }

    .pros-title {
        color: #fff;
    }

    .plan-nav__title {
        color: #fff;
    }

    .route-title {
        color: #fff;
    }
}

@media (max-width: 760px) {

    .cottages__content {
        min-height: 1022px;
        margin-bottom: 65px;
    }

    .slider-built-cottages {
        height: 1019px;
        margin-bottom: 12px;
    }

    .slider-projects-home {
        height: 1017px;
    }

    .pros-bloсks {
        display: flex;
        transition: transform 0.3s ease;
        gap: 0;
    }

    .pros-bloсks-container {
        width: 100%;
        overflow: hidden;
    }

    .pros-bloсks__block {
        min-width: 100%;
        margin-right: 20px;
        -webkit-user-select: none;
      -moz-user-select: none;
           user-select: none;
    }

    .route-container {
        grid-template-columns: repeat(1, auto);
    }

    .route__info-list {
        justify-content: center;
    }

    .plan__content-conteainer {
        flex-direction: column;
        gap: 16px;
    }

    .circles-container {
        display: none;
    }

    .plan__content-card__container {
        width: 100%;
    }

    .plan__content-card:nth-child(1) {
        opacity: 1;
        pointer-events: all;
    }

    .plan__content-link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 15px;
        border-radius: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: #fff;
        background-color: #005aa3;
    }
}

@media (max-width: 415px) {

    .crumbs__wrap {
        padding: 6px 0;
    }

    .header-cover_page {
        padding: 212px 0 160px 0;
    }

    .header-cover_page_title {
        margin-bottom: 12px;
    }

    .header-cover_page_descr {
        margin-bottom: 2px;
    }

    .pros {
        margin-top: -191px;
        padding: 56px 0 100px 0;
    }

    .pros .container {
        margin-bottom: 87px;
        overflow: hidden;
    }

    .pros-title {
        width: 75%;
        margin-bottom: 28px;
    }

    .pros-bloсks-container {
        width: 120%;
    }

    .pros-bloсks__block {
        padding: 10px 17px;
        min-width: 79%;
        border-radius: 20px;
        margin-right: 16px;
    }

    .pros-bloсks__block-title {
        font-size: 18px;
    }

    .pros-bloсks__block-descr {
        font-size: 12px;
    }

    .reviews-video .section-title {
        width: 100%;
    }

    .reviews-video__top-title {
        margin-bottom: 24px;
    }

    .video-container video {
        height: 202px;
    }

    .video-container__desccr {
        top: 15px;
        left: 12px;
        font-size: 12px;
    }

    .play-button {
        width: 50px;
        height: 50px;
    }

    .play-button::before {
        border-left: 14px solid white;
    }

    .reviews-video__line {
        margin-bottom: 52px;
    }

    .reviews-video {
        padding: 56px 0 69px 0;
    }

    .advantages-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px 17px;
    }
    
    .page__advantages {
        padding: 59px 0 13px 0;
        border-radius: 20px 20px 0 0;
    }

    .advantage-card img {
        margin-bottom: 17px;
    }

    .page__advantages .advantages-items {
        padding: 20px 0 12px 0;
    }

    .gallery-title {
        margin-bottom: 26px;
    }

    .gallery__content-card {
        height: 267px;
    }

    .gallery__content-card__top-descr {
        font-size: 10px;
    }

    .gallery__content {
        gap: 16px;
    }

    .route-section {
        margin-top: -180px;
        padding: 56px 0;
        border-radius: 20px 20px 0 0;
    }

    .route__info-item__title {
        font-size: 18px;
    }

    .route__info-item__descr {
        font-size: 8px;
    }

    .route-title {
        margin-bottom: 24px;
    }

    .route__info-item {
        padding: 12px 16px;
    }
    
    .route__content-title {
        font-size: 16px;
    }

    .route__content-descr {
        font-size: 12px;
    }

    .route__content-top {
        gap: 11px;
    }

    .route__content-top svg {
        width: 17%;
    }

    .route-container {
        margin-bottom: 79px;
        gap: 25px;
    }
    
    .route__content-block {
        padding: 16px 16px;
    }

    .route__content-block:first-child {
        margin-bottom: 11px;
    }

    .plan__content-card__container {
        height: 130px;
    }

    .infrastructure {
        padding: 57px 0 100px 0;
        border-radius: 20px 20px 0 0;
    }

    .infrastructure__content-mobile {
        margin-bottom: 99px;
    }

    .slider-built-cottages {
        height: 940px;
    }

    .slider-projects-home {
        height: 939px;
    }

    .cottages__content {
        margin-bottom: 77px;
    }

    .page__privileges__link {
        margin-top: 0 !important;
    }
    
    .page__villages__inner {
        margin-bottom: 36px;
    }

    .villages .container {
        margin-bottom: 35px;
    }

    .villages__content-title {
        margin-bottom: 6px;
    }

    .villages__content-teg {
        font-size: 12px;
        margin-bottom: 14px;
    }

    .villages__content-list li:last-child {
        margin-bottom: 12px;
    }

    .village-rating {
        padding: 6px 0 0 0;
    }

    .reviews-residents__inner .title-navigation {
        margin-bottom: 26px;
    }

    .privileges__link {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .bid-2 {
        padding: 54px 0 55px 0;
    }

    .latest-news {
        padding: 58px 0 124px 0;
    }

    .bid__wrapper {
        gap: 34px;
    }

    .form-items {
        margin-bottom: 5px;
    }

    .form-info {
        gap: 6px;
    }
    
}